<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      AC1 - Programação
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
   <h1>Exercício 2 - Triângulo</h1>

   <ion-item>
     <ion-input label="Lado 1" type="number" placeholder="Digite aqui:" [(ngModel)]="lado1"></ion-input>
   </ion-item><br>

   <ion-item>
     <ion-input label="Lado 2" type="number" placeholder="Digite aqui:" [(ngModel)]="lado2"></ion-input>
   </ion-item><br>

   <ion-item>
     <ion-input label="Lado 3" type="number" placeholder="Digite aqui:" [(ngModel)]="lado3"></ion-input>
   </ion-item><br>

   <ion-button expand="full" (click)="verificarTriangulo()">Verificar Triângulo</ion-button><br>

   <h4>{{triangulo}}</h4>
   <h4>{{tipoTriangulo}}</h4>
</ion-content>
